<footer class="footer py-5">
    <div class="section-content">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <a href="index.html" class="text-warning"><h5>My 3rd website</h5></a>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit dicta magnam eum voluptates minus optio at hic itaque nulla sed.</p>
                </div>
                <div class="col-md-2 mb-4 d-none d-md-block">
                    <h5>Projects</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="project.html" class="text-muted">Project 1</a>
                        </li>
                        <li>
                            <a href="project.html" class="text-muted">Project 2</a>
                        </li>
                        <li>
                            <a href="project.html" class="text-muted">Project 3</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 mb-4 d-none d-md-block">
                    <h5>Pages</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="page.html" class="text-muted">Page 1</a>
                        </li>
                        <li>
                            <a href="page.html" class="text-muted">Page 2</a>
                        </li>
                        <li>
                            <a href="page.html" class="text-muted">Page 3</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card card-body bg-danger">
                        <div class="card-text">
                            <div class="text-white d-flex justify-content-start">
                                <i class="fas fa-phone fa-4x me-5"></i>
                                <div class="icon-list-content">
                                    <div>
                                        <p class="my-0">전화번호</p>
                                    </div>
                                    <div>
                                        <p class="lead">
                                            <a href="tel:010-6214-3837" class="text-white">
                                                <strong>010-6214-3837</strong>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-white mt-0 mb-3">
                            <div class="text-white">
                  <span>
                    <i class="fa fa-envelope fa-lg me-3"></i>
                    <a href="mailto:jdoe@email.com" class="text-white">
                      <strong>ioerts@kookmin.ac.kr</strong>
                    </a>
                  </span>
                            </div>
                            <br>
                            <div class="text-white">
                  <span>
                    <i class="fa fa-home fa-lg me-3"></i>
                    <strong>77, Jeongneung-ro, Seongbuk-gu, Seoul, Republic of Korea</strong>
                  </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="my-5">
        <ul class="social-icons list-unstyled d-flex justify-content-center">
            <li class="mx-2">
                <a href="#" class="twitter-link">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
            </li>
            <li class="mx-2">
                <a href="#" class="facebook-link">
                    <i class="fab fa-facebook-square fa-2x"></i>
                </a>
            </li>
            <li class="mx-2">
                <a href="#" class="youtube-link">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </li>
        </ul>
        <div class="copyright text-center text-muted mt-4">
            Copyright &copy;
            <script>
          document.write(new Date().getFullYear())
        </script> My 3rd website. All rights Reserved.
        </div>
    </div>
</footer>