<div class="modal fade" id="navbarModalContent" aria-labelledby="navbarModalContent" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="navbarModalContentLabel">My Website</h5>
                <button class="btn-close" type="button" data-bs-dismiss="modal" aria-lable="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-unstyled mobile-menu">
                    <li class="active">
                        <a href="/index" class="current">Home</a>
                    </li>
                    <li>
                        <a href="/intro" class="current">Intro</a>
                    </li>
                    <li>
                        <a href="/page" class="current">Book review</a>
                    </li>
                    <li>
                        <a href="/blog" class="current">My favorite</a>
                    </li>
                    <li>
                        <a href="/project" class="current">Knowlege Base</a>
                    </li>
                    <li>
                        <a href="new/board" class="current">Reservation</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>