<nav id="primary-navbar" class="navbar navbar-expand-lg navbar-transparent fixed-top rgba-black-light">
    <div class="container-xxl">
        <a class="navbar-brand text-white" href="/" data-bs-toggle="tooltip" data-bs-placement="bottom" title="홈 바로가기">
            <img src="../assets/images/slogo.png" alt="My Logo" width="60px"> Yun_je
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="modal" data-bs-target="#navbarModalContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto  mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fa fa-home fa-lg"></i><p>Home</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/intro"><i class="fa fa-info fa-lg"></i><p>About me</p></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-book-open fa-lg"></i><p>Book review</p>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/page">감상문</a></li>
                        <li><hr class="dropdown-divider"></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/blog" class="nav-link"><i class="fa fa-rss fa-lg"></i><p>My favorite</p></a>
                </li>
                <li class="nav-item dropdown dropdown-wide">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-th-large fa-lg"></i><p>Knowlege base</p>
                    </a>
                    <div class="dropdown-menu w-75" aria-labelledby="navbarDropdown">
                        <div class="container-fluid py-4" id="mega-menu">
                            <div class="row">
                                <div class="col-lg-3">
                                    <h5><strong class="text-danger">Project title</strong></h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                    <img src="/assets/images/bg_universe.jpg" alt="" class="img-fluid rounded mt-3">
                                </div>
                                <div class="col-lg-9">
                                    <h5><strong class="text-success">Our projects below...</strong></h5>
                                    <div class="dropdown-divider mt-3 mb-4"></div>
                                    <div class="row">
                                        <div class="col">
                                            <img src="/assets/images/img1.jpg" alt="Image 1" class="img-fluid shadow-lg">
                                            <a href=/project class="dropdown-item">
                                                <br>
                                                <h6><strong>Knowlege base</strong></h6>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <img src="/assets/images/img2.jpg" alt="Image 2" class="img-fluid shadow-lg">
                                            <a href="/project" class="dropdown-item">
                                                <br>
                                                <h6><strong>Knowlege base</strong></h6>
                                            </a>
                                        </div>
                                        <div class="col">
                                            <img src="/assets/images/img3.jpg" alt="Image 3" class="img-fluid shadow-lg">
                                            <a href="/project" class="dropdown-item">
                                                <br>
                                                <h6><strong>Knowlege base</strong></h6>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/new/board" class="nav-link"><i class="fa fa-desktop fa-lg"></i><p>Reservation</p></a>
                </li>
            </ul>
        </div>
    </div>
</nav>